<div class="card-body">
  <div>
    {{ember-initials
      class="mb-3 rounded-circle"
      image=user.pictureUrl
      size=60
      name=user.firstName
      fontFamily="PT Sans, sans-serif"
    }}
  </div>
  <div>
    <h5 class="card-title mb-0">
      {{user.firstName}}
    </h5>
    <p class='card-text'>
    {{format-minutes node.startsAt}} -
    {{format-minutes node.endsAt}}
    </p>
  </div>
</div>
<ul class="list-group list-group-flush">
  {{#each activities as |proxy|}}
    <li class="list-group-item d-flex align-items-center py-2 px-3">
      <div
        class="rounded-circle border {{if proxy.matched "border-success"}}
        bg-{{if proxy.matched "success" "light"}} d-flex mr-2 flex-column align-items-center justify-content-center"
        style="height: 20px; width: 20px;"
      >
        {{#if proxy.matched}}
          {{feather-icon icon="check" class="text-white"}}
        {{else}}
          {{feather-icon icon="check" class="text-black-50"}}
        {{/if}}
      </div>
      <div class="{{unless proxy.matched "text-black-50"}} d-flex flex-column
        align-items-center">
        {{proxy.activity.label}}
      </div>
    </li>
  {{/each}}
</ul>
<div class="card-footer">
    <a href="#" class="btn btn-primary btn-block">
      {{feather-icon icon='message-square' class='mr-1'}}
      Chat
    </a>
</div>