<div class="homepage">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner d-md-block d-none">
        <h3 class="masthead-brand text-center" style='width: 60px;'>
          {{shoe-icon color='#fff'}}
        </h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          {{#if session.isAuthenticated}}
            {{link-to 'My Account' 'me' class='nav-link'}}
          {{else}}
            <a class="nav-link" href="#" {{action 'authenticateWithFacebook'}}>Sign Up</a>
          {{/if}}
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Find climbing partners</h1>
      <p class="lead">Catch matches you with climbing partners based on your
      schedule and desired types of climbing. Set up days and times you want to climb, and we'll notify
      you when other climbers can give you a catch!</p>
      <p class="lead">
      {{#if session.isAuthenticated}}
        {{link-to 'My Account' 'me' class='btn btn-lg btn-primary'}}
      {{else}}
        <a href="#" class="btn btn-lg btn-primary" {{action "authenticateWithFacebook"}}>Sign Up</a>
      {{/if}}
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>
        Built by
        <a href="#">
          @thejchap
        </a>
        </p>
      </div>
    </footer>
  </div>
</div>
