
<div class="pt-md-3 pb-md-3 pr-md-4 d-flex flex-column schedule-index">
  <div class='mb-3'>
    {{#if availabilities.length}}
    {{#if availabilities.firstObject.matches.edges.length}}
      {{ember-initials
        class="rounded-circle mb-1"
        image=availabilities.firstObject.matches.edges.firstObject.node.user.pictureUrl
        size=60
        name=availabilities.firstObject.matches.edges.firstObject.node.user.firstName
        fontFamily="PT Sans, sans-serif"
      }}
    {{else}}
    <div class="mb-0 py-1 text-black-50 text-center">
      <small>
        No matches yet. We'll keep looking for other climbers and notify you
        when we've found you a partner!
      </small>
    </div>
    {{/if}}
    {{else}}
    <div class="alert alert-warning mb-0">
      <small>
        {{feather-icon icon='alert-triangle' class='mr-1'}}
        You have no upcoming gym sessions! Select your available time slots on
        the calendar below
      </small>
    </div>
    {{/if}}
  </div>
  <div class='time-table-wrapper bg-white d-flex flex-column rounded border
  shadow-sm
  '>
    {{#time-table
    occurrences=availabilities
    onAddOccurrence=(action 'calendarAddOccurrence')
    as |occurrence table calendar|}}
    {{me/schedule/availability-block
    model=occurrence
    timeSlotHeight=calendar.timeSlotHeight
    timeSlotDuration=calendar.timeSlotDuration
    onUpdate=(action 'calendarUpdateOccurrence')
    onDestroy=(action 'calendarDestroyOccurrence')
    onSelect=(action 'calendarSelectOccurrence')
    table=table}}
    {{/time-table}}
  </div>
</div>
