<div class="pt-3">
  {{link-to "Schedule" "me.schedule" class="mb-1 text-muted"}}
  <div class="d-flex justify-content-between mb-4 pr-4">
    <div>
      <h3>
        {{format-day model.day}}, {{format-minutes model.startsAt}} - {{format-minutes model.endsAt}}
      </h3>
    </div>
    <div>
      <a href="#" class='btn btn-secondary'>
        {{feather-icon icon="trash" class="mr-1"}}
        Delete
      </a>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-columns">
        {{#each model.matches.edges as |edge|}}
          {{me/schedule/show/match-card model=edge}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-4 px-4">
      {{#g-map
        lat=currentUser.data.location.lat
        draggable=false
        lng=currentUser.data.location.lng
        zoom=11
        disableDefaultUI=true
        as |g|
      }}
        {{g.marker
          lat=currentUser.data.location.lat
          lng=currentUser.data.location.lng
        }}
      {{/g-map}}
      <div class="text-center mt-2 text-muted">
        <small>
          {{feather-icon icon="map-pin" class="mr-1"}}
          {{currentUser.data.location.name}}
          ({{link-to "change" "me.location"}})
        </small>
      </div>
    </div>
  </div>
</div>
