<div class="pt-4 d-flex flex-column">
  <div class="justify-content-between flex-wrap flex-md-nowrap
    align-items-center pb-2 mb-2 d-none d-md-flex">
    <div>
      {{link-to 'Schedule' 'me.schedule' class='mb-1 d-block text-muted'}}
      <h3>Monday, {{startsAtLabel}} - {{endsAtLabel}}</h3>
    </div>
  </div>
  <div class='d-flex flex-column'>
    <div class="row">
      <div class="col-lg-6 col-md-8">
        <ul class="list-group bg-white mb-3">
          {{#each model.matches.edges as |edge|}}
          <li class="list-group-item">
            <div class="media">
              {{ember-initials class='mr-3 rounded-circle' image=edge.node.user.pictureUrl
              size=60 name=edge.node.user.firstName fontFamily="PT Sans, sans-serif"}}
              <div class="media-body">
                <div class="clearfix">
                  <h5 class="mt-0 mb-1 float-left">{{edge.node.user.firstName}}</h5>
                  {{#if edge.bestMatch}}
                    <span class="badge badge-warning badge-pill float-right">Best Match</span>
                  {{/if}}
                </div>
                <ul class="list-unstyled">
                  <li>
                    {{feather-icon icon='clock' class='mr-1'}}
                    {{edge.node.startsAt}} - {{edge.node.endsAt}}
                  </li>
                  <li>
                    {{feather-icon icon='list' class='mr-1'}}
                    Boulder, Top Rope
                  </li>
                </ul>
                <div class="d-flex mt-2">
                  <a href="#" class='btn btn-primary'>
                    {{feather-icon icon='message-square' class='mr-1'}}
                    Chat
                  </a>
                </div>
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
        <div class="d-md-flex d-none justify-content-end">
          <a href="#" class='text-black-50'>Delete</a>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
</div>
