<div class='row no-gutters time-table-header border-bottom'>
  <div class='time-table-header-col time-table-first-col'>
  </div>
  {{#each days as |day|}}
    <div class='col border-left d-flex time-table-header-col'>
      <div class="d-flex p-2 align-items-center">
        <div>
          {{day.label}}
        </div>
      </div>
    </div>
  {{/each}}
  <div class='scroll-pad'></div>
</div>

<div class="time-table-content-wrapper">
  <div class="time-table-content row no-gutters" id='time-table-content'>
    <div class='time-table-first-col'>
      {{#each labeledTimeSlots as |timeSlot|}}
        <div style={{timeSlotLabelStyle}} class='border-bottom p-2 d-flex justify-content-end align-items-center'>
          <div>
            {{timeSlot.start}}
          </div>
        </div>
      {{/each}}
    </div>
    {{#each days as |day|}}
      <div class='col border-left'>
        {{#each timeSlots as |timeSlot|}}
          <div style={{timeSlotStyle}}  class='border-bottom'></div>
        {{/each}}
        {{yield day this}}
      </div>
    {{/each}}
  </div>
</div>